* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
/* Corpo*/
body {
    text-align: center;   
    font-family: Open Sans,sans-serif;
    background-color: #E9967A;  
    border: 6px solid lightgoldenrodyellow; 
    color: #ffffff;
    margin:0px;
} 

/* Titulos e textos */
.titulo {
    font-size: 60px;
    font-weight: 300;
    color: black
}

.tituloAda {
    font-size: 40px;    
    color: #9b543d;
}

.sub {
    color: rgb(70, 74, 78);
    font-size: 22px;
    font-style: italic;
}

p {
    font-size: 20px;
    color: lightgoldenrodyellow;
    line-height: 1,5;
}

 .subtitulo {
     color: #9b543d;
     font-size: 22px;
     font-style: italic;
 }

 .imagem {
    border: 5px solid lightgoldenrodyellow;   
    width: 100%; 
    border-radius: 1%;
 }

/*links*/
 ul{
     color: white;     
     list-style-type: none;
 }

 li :hover {
     color: rgb(70, 74, 78);
 }
 
 a {
     color:inherit;
     font-weight: 700;
     line-height: 2;
}

/* Sessão central*/
section {
     width: 60%;
     margin:0 auto;     
}

section section {
    width: 100%;
}

/* Menu */
.topo {
    border:3px solid rgb(70, 74, 78);
    background-color: #bb735b;
    font-size: 15px;    
    height: 40px;
    max-width: 60%;
    margin: 0 auto;  
    border-radius: 3%;
}

.topo a {
    text-decoration-line: underline;   
    font-weight: normal;
    margin: 0 89px;
}

.topo li {
    display: inline-block;
    line-height: 2.5; 
}

h4{
    color: #bb735b;
    font-size: 20px;
}

form {
    color:lightgoldenrodyellow;
    line-height: 1.5;
    background-color: rgb(70, 74, 78);
    ;
    padding-top: 20px;
}

button {
    margin-top: 15px;
    background-color: #bb735b;
    color: lightgoldenrodyellow;
    font-size: 15px;
    border: solid transparent;
    padding: 2px 20px;    
    border-radius: 5%;
    margin-bottom: 30px;
}





